<!DOCTYPE html>
<html>
  <head>
    <title>SampleAppDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @book.errors.any? %>
        <%= @book.errors.count %>errors
        <ul>
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>
    <create>
      <header>
        <h2 class="title"><bold>Books</bold></h2>
      </header>
      <column-name-list>
      <h5 class="column-name">Title</h5>
      <h5 class="column-name">Body</h5>
      </column-name-list>
      <table>
        <% @books.each do |book| %>
        <tr>
        <th class="booktitle"><%= book.title %></th>
        <th class="bookbody"><%= book.body %></th>
        <th class="bookshow"><%=link_to "show", book_path(book.id) %></th>
        <th class="bookedit"><%=link_to "edit", edit_book_path(book.id) %></th>
        <th class="bookdestroy"><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %></span>
        </tr>
        <% end %>
      </table>
      <header>
        <h3 class="title">New book</h3>
      </header>

      <%= form_with model: @book do |f| %>
        <submit>
        <h4>Title</h4>
        <%= f.text_field :title %>

        <h4>Body</h4>
        <%= f.text_area :body %>

        <%= f.submit 'Create Book' %>
        </submit>
      <% end %>
    </create>
  </body>
</html>
